/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* 1 em = 18px;
1 lead = 22px;
Modular scale (major second):https://www.modularscale.com/?18&px&1.125 */

/* ===== BASE STYLES ===== */

html {
  background-color: #fefefe; /* Off-white */
  color: #262626; /* Dark grey */
  font-family: "PT Serif", Georgia, "Lucida Bright", serif;
  font-size: 1.125em; /* 16px = 1em, 18px / 16px = 1.125em */
  line-height: 1.222em; /* 18px * 120% = 21.6px, 22px / 18px = 1.222em */
  padding: 1.222em; /* 22px / 18px = 1.222em */
}

p {
  padding-bottom: 1.222em; /* 18px * 120% = 21.6px, 22px / 18px = 1.222em */
}

h1,
h2 {
  clear: both; /* If float is in use by the nav-bar (preferred behavior flex)*/
  font-family: "Paytone One", "Gill Sans", Verdana, sans-serif; /* Use this
  font for contrast from normal text */
  font-size: 1.602em;
  line-height: 1.8333em; /* Basic line height is 22px = 1.222em, plus one half 33px / 18 = 1.8333em */
}

h3,
h4,
h5 {
  font-size: 1.266em;
  line-height: 1.528em; /* Basic line height is 22px = 1.222em, plus one fourth 27.5px / 18 = 1.528em */
}

h3,
#about h2,
#achievements h4 {
  border-bottom: solid 0.2777em #00a7a7; /* 5px / 18px = .2777em */
  font-family: "Paytone One", "Gill Sans", Verdana, sans-serif;
  margin-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
}

ul {
  padding: 0 0 0 1.222em; /* top right bottom left */
}

li {
  padding-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
}

a {
  color: #005959;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  background-color: #f4f6f7; /* Light grey */
  padding: 0.2777em; /* 5px / 18px = .2777em */
  font-size: 0.889em;
  color: #4d4d4d; /* Lighter font color then #262626 */
  margin-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
}

/* ==== LAYOUT STYLES ==== */
#name {
  background-image: linear-gradient(#005959, #00a7a7);
  color: #fefefe; /* Off-white */
  text-align: center;
}

#education-list,
.job-info {
  padding-left: 0; /* Don't indent everything like normal ul */
}

.job-responsibilities li,
#achievements li,
#skills li {
  list-style: disc;
}

#contact-links,
nav > #nav-bar {
  background-color: #00a7a7; /* Light Teal */
  border-bottom: solid #00a7a7 0.2777em; /* 5px / 18px = .2777em */
  border-top: solid #00a7a7 0.2777em; /* 5px / 18px = .2777em */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0; /* Don't indent like a normal list */
}

/* Add space between footer and content */
#contact {
  margin-top: 1.8333em; /* one lead (22) + half (11) = 33 / 18 = 1.8333 */
}

#contact-links > li,
#nav-bar > li {
  background-color: #00a7a7; /* Light Teal */
  float: left; /* Float if browser doesn't support flex */
  margin-top: 0;
  padding: 0.2777em; /* 5px / 18px = .2777em */
}

a:hover,
a:active,
a:focus {
  color: #00a7a7; /* Light Teal */
}

#contact-links a,
#nav-bar li a {
  color: #fefefe;
  text-decoration: none; /* Remove underline */
}

#contact-links li:hover,
#contact-links a:active,
#contact-links a:focus,
#nav-bar li:hover,
#nav-bar li a:active,
#nav-bar li a:focus {
  background-color: #52c3c3; /* Lighter Teal */
  color: #fefefe; /* Off-White */
}

#nav-bar #current a {
  border-bottom: solid #52c3c3; /* Lighter Teal */
  border-top: solid #52c3c3;
}

/* ==== MODULAR STYLES === */

.job {
  border-bottom: 0.1389em solid #00a7a7; /* Light Teal border between each job half the size of borders used for headings, 2.5px / 18 = 0.1388889 */
  padding-top: 0.61111em; /* Space between each job same as space after li */
}

/* Style for first job experience */
.first {
  padding-top: 0;
}

/* Style for last job experience */
.last {
  border-bottom: none;
  /* No horizontal line between the last job experience and the next section, Skills */
}

.title {
  font-weight: bold;
}

.time,
.location,
.date,
.title-desc {
  color: #4d4d4d; /* Lighter font color then #262626 */
  line-height: 1em; /* 18px / 18px = 1em */
  padding-left: 1.222em; /* Same as ul padding */
}

.job-responsibilities h5 {
  font-size: 1em; /* Same size as li */
}

.view-pdf {
  background-color: #e4e4e4; /* Slightly darker light grey */
  border-radius: 0.2777em; /* Rounds the edges of the box */
  /* 5px / 18px = .2777em */
  padding: 0.2777em; /* 5px / 18px = .2777em */
  text-decoration: none; /* Remove underline from link */
}

.view-pdf:hover,
.view-pdf:active,
.view-pdf:focus {
  background-color: #f4f6f7; /* Light grey */
}

#resume h2 {
  padding-bottom: 0.2777em;
  /* Extra spacing for this page's view-pdf, which has 0.277em padding */
}

#resume p {
  padding-bottom: 0.5554em;
  /* Extra spacing for this page's view-pdf, which has 0.277em padding, 0.277 * 2 = 0.5554 */
}

/* ==== STATE STYLES === */

@media screen and (min-width: 400px) {
  #research-day-img {
    background-color: #f4f6f7; /* Light grey */
  }

  #research-day-img img {
    margin: 0 auto 0 auto; /* Centers */
    width: 60%;
  }
}

@media screen and (min-width: 600px) {
  html {
    padding: 1.833333em 9%; /* 54px (aka 3 typographic grid lines) / 600 = 0.09 */
    /* 22px + 11px / 18px = 1.833333em */
  }
}

@media screen and (min-width: 720px) {
  #isi-img {
    background-color: #f4f6f7; /* Light grey */
  }

  #isi-img img {
    margin: 0 auto 0 auto; /* Centers */
    width: 70%;
  }

  #research-day-img {
    float: right;
    margin-left: 2%; /* Space between picture and text */
    width: 40%;
  }

  #research-day-img img {
    margin: 0 0 0 0;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: #fefefe; /* Off-white */
    border-bottom: 0.2777em solid #00a7a7; /* 5px / 18px = .2777em */
    border-top: 0.2777em solid #00a7a7; /* Light Teal */
    margin: 0 auto 0 auto; /* Centers body on page */
    padding: 1.833333em 5%; /* 22px + 11px / 18px = 1.833333em */
  }

  html {
    background-color: #005959; /* Dark Teal */
    margin: 0 5% 0 5%;
  }

  #name {
    font-size: 1.802em;
  }
}
