/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* 1 em = 18px;
1 lead = 22px;
Modular scale (major second):https://www.modularscale.com/?18&px&1.125 */

/* ===== BASE STYLES ===== */

html {
  background-color: #fefefe;
  color: #262626;
  font-family: "Playfair Display", Georgia, "Lucida Bright", serif;
  font-size: 1.125em; /* 16px = 1em, 18px / 16px = 1.125em */
  line-height: 1.222em; /* 18px * 120% = 21.6px, 22px / 18px = 1.222em */
  padding: 1.222em; /* 22px / 18px = 1.222em */
}

p {
  padding-bottom: 1.222em; /* 18px * 120% = 21.6px, 22px / 18px = 1.222em */
}

h1, h2 {
  clear: both;
  font-family: "Paytone One", "Gill Sans", Verdana, sans-serif;
  font-size: 1.424em;
  line-height: 1.8333em; /* Basic line height is 22px = 1.222em, plus one half 33px / 18 = 1.8333em */
}

h3, h4, h5 {
  font-size: 1.266em;
  line-height: 1.528em; /* Basic line height is 22px = 1.222em, plus one fourth 27.5px / 18 = 1.528em */
}

h3, #about h2 {
  border-bottom: solid 0.2777em #00a7a7; /* 5px / 18px = .2777em */
  margin-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
  font-family: "Paytone One", "Gill Sans", Verdana, sans-serif;
}

ul {
  padding: 0 0 0 1.222em; /* top right bottom left */
}

li {
  padding-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
}

a {
  color: #005959;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  background-color: #f4f6f7;
  padding: 0.2777em; /* 5px / 18px = .2777em */
  font-size: 0.889em;
  color: #333333;
  margin-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
}

/* ==== LAYOUT STYLES ==== */
#achievements h4 {
  font-family: "Paytone One", "Gill Sans", Verdana, sans-serif;
}

.job-responsibilities li, #achievements li, #skills li {
  list-style: disc;
}

.job-responsibilities h5 {
  font-size: 1.125em;
}

.job-info {
  background-color: #f4f6f7;
  margin-bottom: 0.6111em; /* half of one lead (22), 11 / 18 = 0.61111 */
  padding-left: 0.6111em;
}

.view-pdf {
  background-color: #e4e4e4;
  border-radius: 0.2777em; /* Rounds the edges of the box */
  /* 5px / 18px = .2777em */
  padding: 0.2777em;
  text-decoration: none; /* Remove underline */
}

.view-pdf:hover,
.view-pdf:active,
.view-pdf:focus {
  background-color: #f4f6f7;
}

/* ==== MODULAR STYLES === */
#contact-links, nav > #nav-bar {
  background-color: #00a7a7;
  border-bottom: solid #00a7a7 0.2777em; /* 5px / 18px = .2777em */
  border-top: solid #00a7a7 0.2777em; /* 5px / 18px = .2777em */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0; /* Don't indent like a normal list */
}

/* Add space between footer and content */
#contact {
  margin-top: 1.8333em; /* one lead (22) + half (11) = 33 / 18 = 1.8333 */
}

#contact-links > li, #nav-bar > li {
  background-color: #00a7a7;
  float: left;
  margin-top: 0;
  padding: 0.2777em; /* 5px / 18px = .2777em */
}

a:hover,
a:active,
a:focus {
  color: #00a7a7;
}

#contact-links a, #nav-bar li a {
  color: #fefefe;
  text-decoration: none; /* Remove underline */
}

#contact-links a:hover,
#contact-links a:active,
#contact-links a:focus,
#nav-bar li:hover,
#nav-bar li a:hover,
#nav-bar li a:active,
#nav-bar li a:focus {
  color: #fefefe;
  background-color: #52c3c3;
}

#nav-bar #current a {
  border-top: solid #52c3c3;
  border-bottom: solid #52c3c3;
}

/* ==== STATE STYLES === */

@media screen and (min-width: 600px) {
  html {
    padding: 1.833333em 9%; /* 54px (aka 3 typographic grid lines) / 600 = 0.09 */
    /* 22px + 11px / 18px = 1.833333em */
  }

  #research-day-img {
    background-color: #f4f6f7;
  }

  #research-day-img img {
    margin: 0 25% 0 25%; /* 25% on each side to make image centered */
    width: 50%;
  }
}

@media screen and (min-width: 720px) {
  /* 9% padding * 720 = 64.8 * 2 = 129.6 */
  /* 800 - 144 = 590.4px-wide */
  body {
    background-color: #fefefe;
    border-bottom: 0.2777em solid #00a7a7; /* 5px / 18px = .2777em */
    border-top: 0.2777em solid #00a7a7;
    margin-left: auto; /* Centers body on page */
    margin-right: auto; /* Centers body on page */
    margin-top: 2.5em; /* nav-bar is around ~45px, 45 / 18
    width: 32.8em; /* 590.4 / 18 = 32.8 */
    padding: 1.833333em 5%;
  }

  html {
    background-color: #005959;
  }

  footer {
    left: 0;
    margin-top: 5%;
    position: absolute;
    width: 100%;
  }

  #contact h2 {
    color: white;
    padding: 0 0.2777em; /* 5px / 18px = .2777em */
  }

  #nav-bar {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
